{% extends 'layout.twig' %}

{% block body %}
  <!DOCTYPE html>
<html lang="en">

<head>
    <title>Material Able bootstrap admin template by Codedthemes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
    <!-- Pre-loader start -->
    <!-- Pre-loader end -->


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content" style="margin-left: 0px!important">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Hoşgeldin!</h5>
                                            <p class="m-b-0">Bu alanda son eklenen staj yerlerini görebilirsin.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">

                                                 <div class="col-xl-12 col-md-12">
                                                <div class="row">
                                                    <!-- sale card start -->

                                                    <div class="col-md-3">
                                                    <a href="/detay/2">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Bilgisayar Mühendisliği Stajları</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    </div>
                                                      <div class="col-md-3">
                                                      <a href="/detay/3">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Makina Mühendisliği Stajları</h6>
                                                            </div>
                                                        </div>
                                                     </a>
                                                    </div>
                                                      <div class="col-md-3">
                                                      <a href="/detay/4">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">İnşaat Mühendisliği Stajları</h6>
                                                            </div>
                                                        </div>
                                                         </a>
                                                    </div>
                                                      <div class="col-md-3">
                                                      <a href="/detay/5">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Gıda Mühendisliği Stajları</h6>
                                                            </div>
                                                        </div>
                                                         </a>
                                                    </div>

                                                    <!-- sale card end -->
                                                </div>
                                            </div>

                                            <div class="col-xl-12 col-md-12">
                                                <div class="card table-card">
                                                    <div class="card-header">
                                                        <h5>Son Eklenen Staj Yerleri</h5>
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                                                <li><i class="fa fa-minus minimize-card"></i></li>
                                                                <li><i class="fa fa-refresh reload-card"></i></li>
                                                                <li><i class="fa fa-trash close-card"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover m-b-0 without-header">
                                                                <tbody>
                                                                {% for user in lastInternships %}
                                                                    <tr>
                                                                        <td>
                                                                    <a href="/internship/{{user.id}}">
                                                                            <div class="d-inline-block align-middle">
                                                                                <div class="d-inline-block">
                                                                                    <h6>{{ user.name }}</h6>
                                                                                    <p class="text-muted m-b-0"> {{ user.add_at }} tarafından eklendi</p>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </a>
                                                                        <td class="text-right">
                                                                            <h6 class="f-w-700">{{ user.salary }} TL</h6>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                            <!--  sale analytics end -->

                                            <!-- Project statustic start -->
                                            <div class="col-xl-12">
                                                <div class="card proj-progress-card">
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Eklenen Toplam Staj Yeri</h6>
                                                                <h5 class="m-b-30 f-w-700"><span class="text-c-green m-l-10">{{ allx }}</span></h5>
                                                            </div>
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Kayıtlı Toplam Üye Sayısı</h6>
                                                                <h5 class="m-b-30 f-w-700"><span class="text-c-red m-l-10">{{ ally }}</span></h5>
                                                            </div>
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Mevcut Kategori Sayısı</h6>
                                                                <h5 class="m-b-30 f-w-700"><span class="text-c-green m-l-10">5</span></h5>
                                                            </div>
                                                            <div class="col-xl-3 col-md-6">
                                                                <h6>Ortalama Stajyer Maaşı</h6>
                                                                <h5 class="m-b-30 f-w-700"><span class="text-c-green m-l-10">{{ maas }} TL</span></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Project statustic end -->
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}
